.hand {
  cursor: pointer;
  user-select: none;
}

.sidenav {
  position: fixed;
  top: 0px;
  height: 100%;
  left: auto;
  right: -2px;
  overflow: hidden;
  opacity: 1;
  padding-top: 50px;
  transition: width 0.5s cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.navopen {
  width: 300px;
}
.navclose {
  width: 0px;
}
